/* navbar */

.navbar__img{
    height: 30px;
    width: 30px;
}

/* main */

.main__cards_containers{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__card{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.card_icon{
    font-size: 3rem;
}

.boot_img{
    height: 250px;
}

.row_boots{
    padding: 0px 50px;
}

table{
    text-align: center;
}

/* Footer */

.footer__img{
    height: 50px;
    width: 50px;
}


.footer_ul{
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

footer ul li{
    margin: 0px 20px;
    color: aliceblue;
}

.footer_icon{
    font-size: 2rem;

}

/* Contacto */
